<a href="https://colab.research.google.com/github/lnandi1/Cod21/blob/main/Elective_Jan2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**<h1>Introduction</h1>**
<h3>We are going to start Coding (Programming).
<br>We are going to start Coding (Programming) in the Python Programming Language.</h3>

## **Section 1.0  Looking at Output**

In [ ]:
# Example 1
print("Hello World")

Hello World

In [ ]:
# Example 2
print("My name is Alex")

My name is Alex

In [ ]:
# Example 3
print("To be or Not to be\n")
print("That is the Question\n")
print("Whether it is nobler in the mind\n")

To be or Not to be

That is the Question

Whether it is nobler in the mind

**Exercise 1 - Now write your own programs displaying some output**

In [ ]:
#Insert Code Here

## **Section 2.0 Arithmetic Operations**

In [ ]:
#Example 4
#Calculating the Sum
Apples = 10
Bananas = 12
Total = Apples + Bananas
print(Total)

22

In [ ]:
# Example 5
# The Difference between two numbers
A = 100
B = 80
Total = A - B
print(Total)

20

In [ ]:
# Example 6
# Calculating the Product of Two Numbers (Multiplication)
Pizza = 10
Pieces = 5
Total = Pizza * Pieces 
print(Total)

50

In [ ]:
# Example 6
# Division
X = 100
Y = 20
Result = X/Y 
print(Result)

5.0

**Exercise 2 - Now write some similar programs**

## **Section 3.0  - Input and Output of Strings**

In [ ]:
# Example 7
Name = input("What is your Name ? ")
print("My name is ", Name)

What is your Name ? Kate
My name is  Kate

**Exercise 3 - Write a Program which asks the user for their favourite city and then displays the answer**

**Exercise 4 - Write a Program which asks the user for their favourite subject and then displays the answer**

## **Section 4.0 Input and Output of Numbers**

In [ ]:
# Example 8
Age = int(input("Enter your Age "))
print("You are ", Age, " years old")

Enter your Age -200
You are  -200  years old

In [ ]:
# Example 9
Minutes = int(input("How many minutes does it take you to brush your teeth? "))
print("It takes you ", Minutes, " minutes to brush your teeth!")

How many minutes does it take you to brush your teeth? 25
It takes you  25  minutes to brush your teeth!

**Exercise 5 - Write a Program which asks the user how many countries there are in the world and displays the answer**

In [ ]:
# Insert Code

**Exercise 6 - Now write a program with a question of your choice**

In [ ]:
# Insert Code

##**Section 4.1 Writing Programs with the IF statement**

**Study Examples 9a, 9b, run them yourselves and do Exercises 6a and 6b**

In [ ]:
# Program 9a
# New Year
Month = input("Enter a Month ")
if Month == "January":
  print("Happy New Year")

Enter a Month January
Happy New Year

In [ ]:
# Program 9b
# New Year
Month = input("Enter a Month ")
if Month== "January":
  print("Happy New Year")
else:
  print("Not New Year Yet")

Enter a Month April
Not New Year Yet

**Exercise 6a - Type in the above Program (Program 9b) and run it**

In [ ]:
#Insert Answer Here

**Exercise 6b - Write a Program which asks the user to enter a month and if is October the program says 'it is Month of Halloween'and if it is not October the program says 'it is not the Month of Halloween'**

In [ ]:
# Insert Answer Here

**Study the Program below, run it and then answer the following questions**

In [ ]:
# Program 9c
# Owning a Dog 
Age = int(input("Enter Age "))
if Age >=10:
  print("You are old enough to look after a dog")
else:
  print("You are too young to look after a dog")

Enter Age 10
You are old enough to look after a dog

**Exercise 6c - Type in the Above Program and Run it**

In [ ]:
# Insert Answer Here

**Exercise 6d - Write a Program which asks for a Person's Age. If the Age is greater than or equal to 18 (>=18) then the Program says that the person is old enough to vote otherwise the program says the person is too young to vote**

In [ ]:
#Insert Code

**Study the Program below, run it and then answer the following questions**

In [ ]:
# Program 9d
Minutes = int(input("How many minutes to do you spend watching TV each day?"))
if Minutes >=15:
  print("That is a long time")
else:
  print("That looks ok")

How many minutes to do you spend watching TV each day?15
That is a long time

**Exercise 6e - Type in the Above Program and Run it**

In [ ]:
#Insert Code Here

**Exercise 6f - Write a Program which asks you how many minutes it takes you to get to walk to the local shops. If it takes 20 minutes or more than the program will say that it is a very long time and if it less than 20 minutes the program will say that it is a good amount of time**

In [ ]:
#Insert Code Here

## **Section 4.2 Writing Programs with FOR Statements**

**Study the Programs below (9e and 9f) and their Outputs and then complete the associated Exercises 6G and 6H**|

In [ ]:
# Program 9e
for j in range(5):
  print(j)

0
1
2
3
4

In [ ]:
#Program 9f
for j in range(10):
  print(j)

0
1
2
3
4
5
6
7
8
9

**Exercise 6G - Type in the above program and run it**

In [ ]:
#Insert Code Here

**Exercise 6H- Now Write a Program which generates the Numbers 0 to 6**

In [ ]:
#Insert Code Here

**Study the Programs 9g and 9h below and their Outputs and then complete Exercises 6I and 6J**

In [ ]:
# Program 9g
for j in range(1,6):
  print(j)

1
2
3
4
5

In [ ]:
# Program 9h
for j in range(2,8):
  print(j)

2
3
4
5
6
7

**Exercise 6I - Type in the Above Program and run it**

In [ ]:
#Insert Code Here

**Exercise 6J - Write a Program which generates the numbers 3 to 9**

In [ ]:
# Insert Code Here

**Study the Programs 9i and 9j below and their outputs and then complete Exercises 6K, 6L, 6M and 6N**

In [ ]:
# Program 9i
print("The 10 times table")
Number = 10
for j in range(1,11):
  Product = Number*j
  print(j,"*", Number, "= ",Product)

The 10 times table
1 * 10 =  10
2 * 10 =  20
3 * 10 =  30
4 * 10 =  40
5 * 10 =  50
6 * 10 =  60
7 * 10 =  70
8 * 10 =  80
9 * 10 =  90
10 * 10 =  100

In [ ]:
#Program 9j
print("The 13 times table")
Number = 13
for j in range(1,11):
  Product = Number*j
  print(j,"*", Number, "= ",Product)

The 13 times table
1 * 13 =  13
2 * 13 =  26
3 * 13 =  39
4 * 13 =  52
5 * 13 =  65
6 * 13 =  78
7 * 13 =  91
8 * 13 =  104
9 * 13 =  117
10 * 13 =  130

**Exercise 6K - Type in the Above Program and run it**

In [ ]:
#Insert Code Here

**Exercise 6L - Write a Program which outputs the 7 times table**

In [ ]:
#Insert Code Here

**Exercise 6M - Write a Program which outputs the 16 times table**

In [ ]:
#Insert Code Here

**Exercise 6N- Write a Program which outputs the 1st 5 square numbers, that is 1,4,9,16 and 25**
<br>**For this you need to know 3$**$2=9 where $**2$ means squared**

In [ ]:
#Insert Code Here

##**Section 4.3 Writing Programs with the Random Module**

**Study the Programs below and Answer the Following Questions**

In [ ]:
#Exercise 9k
# Generating a Random Number
import random
r = random.randint(1,6)
print(r)

3

In [ ]:
# Exercise 9l
# Generating a Random Number
import random
r = random.randint(1,10)
print(r)

2

**Exercise 60 - Type in the Above Program and Run it**

In [ ]:
#Insert Code

**Exercise 6P- Write a Program which Generates a Random Number between 1 and 100**

In [ ]:
#Insert Code Here

**Exercise 6Q - Write a Program which Generates a Random Number between 6 and 10**

In [ ]:
#Insert Code Here

**Study the Program below and answer the following Questions**

In [ ]:
# Exercise 9M
# A Game
import random
Player1 = random.randint(1,100)
print("Player1 ", Player1)
Player2 = random.randint(1,100)
print("Player2 ", Player2)

if Player1 > Player2:
  print("Player1 has won")
elif Player2 > Player1:
  print("Player2 has won")
else:
  print("This is a  Draw")

Player1  82
Player2  56
Player1 has won

**Exercise 6R - Type in the Above Program and Run it**

In [ ]:
#Insert Code Here

**Exercise 6S- Write a Program in which both Player1 and Player2 generate random numbers between 1 and 500 and the Program reports whether Player1 has won, Player2 has won or it is a draw**

In [ ]:
#Insert code

**Study the Program below and then answer the following questions**

In [ ]:
#Exercise 6n
# A Game
import random
Player1 = random.randint(1,100)
print("Player1 ", Player1)
User_Input = int(input("Enter a Number between 1 and 100 "))
print("User_Input ", User_Input)

if Player1 > User_Input:
  print("Player1 has won")
elif User_Input > Player1:
  print("You have won")
else:
  print("This is a  Draw")

Player1  28
Enter a Number between 1 and 100 23
User_Input  23
Player1 has won

**Exercise 6T - Type in the Program Above and Run it**

In [ ]:
#Insert Code Here

**Study the Program below and answer the following questions**

In [ ]:
#Exercise 6o
import random
Names = ['Anna','Alex','David','Ali']
Choice = random.choice(Names)
print(Choice)

David

**Exercise 6U - Write a Program in which you create a list of 5 countries and the program randomly chooses one of the countries**

In [ ]:
#Insert Code

## **Section 5.0 Writing Programs Related to Area and Volume**

**Study Example 1 below and then do Exercise 7**

In [ ]:
# Example 9
# Calculating and Outputting the Area of a Square
Length = float(input("Enter the Length of Square "))
Area = Length*Length
print("The Area of the Square is ", round(Area,4), " cm squared")

Enter the Length of Square 3.68
The Area of the Square is  13.5424  cm squared

**Exercise 7 - Write a Program which invites the user to enter the Width and Height of a Rectangle and then calculates and outputs its area**

In [ ]:
# Insert Code

**Study Example 10 below which calculates and outputs the area of a circle and do Exercises 8,9,10**

<br>(Note the Formula for Area of a Circle = $\pi * Radius^2$)
<br> Also you will need to know the following:-


1.   'float' means that you can input decimal numbers such as 3.4, 9.6.
2.   'round' means output to 2 decimal places
3.    '**2' means to the power 2 or squared

In [ ]:
# Example 10
# Calculating the area of a circle
PI = 3.142
Radius = float(input("Enter the Radius of a Circle in cm "))
Area = PI *Radius**2 
print(" The area of a circle is ", round(Area,2), " cm square")

Enter the Radius of a Circle in cm 5
 The area of a circle is  78.55  cm square

**<br>Exercise 8 - Write a Program which calculates the circumference of a circle and outputs the result to 2 decimal places</br>**
**<br>(Formula: Circumference of a Circle = $2*\pi*Radius$)</br>**
**<br>(To round to 2 decimal places use round(Circumference,2) - so here we round Circumference to 2 decimal places</br>**

In [ ]:
# Calculating the Circumference of a circle
PI = 3.142
Radius = float(input("Enter the Radius of a Circle in cm"))
Circumference = 2*PI*Radius
print(" The Circumference of a circle is ", round(Circumference,2), " cm square")

Enter the Radius of a Circle in cm 4
 The Circumference of a circle is  25.14  cm square

**Exercise 9 - Write a Program which asks the user to input a number and then calculates and displays the cube of the number**
<br><br>Note 2$**$3 means to 2 the Power 3 or Cubed (2$*$2$*$2=8)
<br><br>Note 2$**$4 means to 2 the Power 4 (2$*$2$*$2*2=16)

In [ ]:
# Calculate and display the cube of the number
Number = int(input("Enter a number"))
Cubed = Number**3
print(Number, "cubed is", Cubed)

Enter a number 5
5 cubed is 125

**Exercise 10 - Write a Program which asks the user to input the length of a side of a cube and calculates and outputs the volume of the cube**
<br><br>Volume of a Cube = Length$*$Length*Length
<br>OR
<br>Volume of a Cube = Length$**$3

In [ ]:
# Insert Code

## **Section 6.0 Functions with Currency Conversion Program and Calculator Program**

**Study Example 11 and its output, and then do Exercise 11**

In [ ]:
# Example 11
# Currency Conversions
def Pound_Dollar():
  Pound = int(input("Enter Pounds "))
  Dollar = Pound * 1.38
  print(Dollar)

def Dollar_Pound():
  Dollar = int(input("Enter Dollars "))
  Pound = Dollar * 0.73
  print(Pound)
  

def Pound_Yen():
  Pound = int(input("Enter Pounds "))
  Yen = Pound * 153.61
  print(Yen)
  
  
def main():
  print("Enter 1 if you would like to convert Pounds to Dollars ")
  print("Enter 2 if you would like to convert Dollars to Pounds ")
  print("Enter 3 if you would like to convert Pounds to Yen ")
  Answer = input("Enter Number ")
  if Answer == "1":
    Pound_Dollar()
  elif Answer == "2":
    Dollar_Pound()
  elif Answer == "3":
    Pound_Yen()
  else:
    print("Invalid Answer")

main()

Enter 1 if you would like to convert Pounds to Dollars
Enter 2 if you would like to convert Dollars to Pounds
Enter 3 if you would like to convert Pounds to Yen
Enter Number 1
Enter Pounds 1
1.38

**Exercise 11 - Now extend the program so that it converts 3 more currencies of your choice**

In [ ]:
# Example 3 
# Currency Conversions
def Pound_Dollar():
  Pound = int(input("Enter Pounds "))
  Dollar = Pound * 1.38
  print(Dollar)

def Dollar_Pound():
  Dollar = int(input("Enter Dollars "))
  Pound = Dollar * 0.73
  print(Pound)
  

def Pound_Yen():
  Pound = int(input("Enter Pounds "))
  Yen = Pound * 153.61
  print(Yen)


def Euro_Pound():
  Euro = int(input("Enter Euro "))
  Pound = Euro * 0.73
  print(Pound) 

  
def Pound_sterling_Pound():
  Pound_sterling = int(input("Enter Pound_sterling "))
  Pound = Pound_sterling * 0.73
  print(Pound)


def Serbian_dinar_Pound():
  Serbian_dinar = int(input("Enter Serbian_dinar "))
  Pound = Serbian_dinar * 0.73
  print(Pound)     

  
def main():
  print("Enter 1 if you would like to convert Pounds to Dollars ")
  print("Enter 2 if you would like to convert Dollars to Pounds ")
  print("Enter 3 if you would like to convert Pounds to Yen ")
  print("Enter 4 if you would like to convert Pounds to Euro ") 
  print("Enter 5 if you would like to convert Dollars to Euro ")
  print("Enter 6 if you would like to convert Dollars to Pound_sterling ")
  print("Enter 7 if you would like to convert Dollars to Serbian_dinar ")
  Answer = input("Enter Number ")  
  if Answer == "1":
    Pound_Dollar()
  elif Answer == "2":
    Dollar_Pound()
  elif Answer == "3":
    Pound_Yen()
  elif Answer == "4":
    Pound_Euro()
  elif Answer == "5":
    Dollars_Euro()
  elif Answer == "6":
    Dollars_Pound_sterling()
  elif Answer == "7":
    Dollars_Serbian_dinar()
  else:
    print("Invalid Answer")

main()

Enter 1 if you would like to convert Pounds to Dollars
Enter 2 if you would like to convert Dollars to Pounds
Enter 3 if you would like to convert Pounds to Yen
Enter 4 if you would like to convert Pounds to Euro
Enter 5 if you would like to convert Dollars to Euro
Enter 6 if you would like to convert Dollars to Pound_sterling
Enter 7 if you would like to convert Dollars to Serbian_dinar
Enter Number 2
Enter Dollars 10
7.3

**Study Example 12, its output and do Exercise 12**

In [ ]:
# Example 12
# Calculator
def Addition(x,y):
  Result = x+y
  print(Result)

def Subtraction(x,y):
  Result = x-y
  print(Result)
  
def main():

  print("Select operation.")
  print("1.Add")
  print("2.Subtract")

  choice = input("Enter choice(1/2) ") 

  

  # Check if choice is one of the two options
  if choice in ('1', '2'):
      num1 = int(input("Enter first number: "))
      num2 = int(input("Enter second number: "))

  if choice == '1':
      Addition(num1,num2)
  elif choice == '2':
      Subtraction(num1,num2)
  else:
      print("Invalid Input")

   # EndWhile
      
  print("Program has Ended")

main()

Select operation.
1.Add
2.Subtract
Enter choice(1/2) 1
Enter first number: 2
Enter second number: 3
5
Program has Ended

**Exercise 12 - Now extend the Program to include:-**


1.   Multiplication
2.   Division
3.   MOD 
4.   DIV 

<br><br> Note 8%2 = 0. This means 8 MOD 2 = 0.
<br>MOD (Symbol '%' in Python) is the remainder when two numbers are divided by each other.
<br><br> Note 8//2 = 4. This means 8 DIV 2 = 4.
<br>DIV (Symbol '//' in Python) means the Quotient when two numbers are divided by each other.

In [ ]:
# Insert Code Here# Example 4
# Calculator
def Addition(x,y):
  Result = x+y
  print(Result)

def Subtraction(x,y):
  Result = x-y
  print(Result)

def Multiplication(x,y):
  Result = x*y
  print(Result)

def DIV(x,y):
  Result = x//y    
  print(Result)

def Division(x,y):
  Result = x/y    
  print(Result)  
  

def MOD(x,y):
  Result = x%y    
  print(Result)   
  
  
def main():

  print("Select operation.")
  print("1.Add")
  print("2.Subtract")
  print("3.Multiplication")
  print("4.DIV")
  print("5.Division")
  print("6.MOD")

  choice = input("Enter choice(1/2/3/4/5/6) ") 

  

  # Check if choice is one of the two options
  if choice in ('1', '2','3','4','5','6'):
      num1 = int(input("Enter first number: "))
      num2 = int(input("Enter second number: "))
#      num3 = int(input("Enter third number: "))
#      num4 = int(input("Enter fourth number: "))
#      num5 = int(input("Enter fith number: "))
#      num6 = int(input("Enter sixth number: "))

  if choice == '1':
    Addition(num1,num2)
  elif choice == '2':
    Subtraction(num1,num2)
  elif choice =='3':
    Multiplication(num1,num2)
  elif choice == '4':
    DIV(num1,num2)
  elif choice == '5':
    Division(num1,num2)
  elif choice == '6':
    MOD(num1,num2)
  else:
    print("Invalid Input")

   # EndWhile
      
main()

Select operation.
1.Add
2.Subtract
3.Multiplication
4.DIV
5.Division
6.MOD
Enter choice(1/2/3/4/5/6) 6
Enter first number: 1
Enter second number: 2
1