<a href="https://colab.research.google.com/github/lnandi1/Cod21/blob/main/For_Loops_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Introduction**
**We will study and write programs involving the FOR loop.
<br> Please note the following about the FOR loop:-**


1.   The FOR loop is a form of ITERATION
2.   ITERATION means REPETITION or LOOPING.
3.  The FOR loop demonstrates DEFINITE ITERATION.
4.   Just for the sake of completeness - there are what is known as 3 Fundamental Programming constructs:-
 (i) ITERATION
 (ii) SELECTION
 (iii) SEQUENCE
5.   The FOR loop is known as a COUNT-CONTROLLED loop.
6.   We will look at the FOR loop in its primary form.
7.   We will also look at the NESTED FOR loop.

**Question 1 - Study the Programs below and ensure you understand how they are working**

In [ ]:
# Program 1 - The FOR loop is an example of ITERATION or REPETITION
# Python is a Zero-based Language
for j in range(5):
  print(j)

0
1
2
3
4

In [ ]:
# Program 2
for j in range(3):
  print(j)

0
1
2

**Question 2 - Write a Program which outputs the numbers 0 to 10**

In [ ]:
# Write your Program Here

**Question 3 - Now Study the Programs below and ensure you understand how they are working**

In [ ]:
# Program 3
for j in range(1,6):
  print(j)

1
2
3
4
5

In [ ]:
# Program 4
for j in range(1,4):
  print(j)

1
2
3

**Question 3 - Write a Program which outputs the numbers 2 -8**

In [ ]:
# Write your program here

**Question 4 - Now Study the Program below and ensure you understand how it is working**

In [ ]:
# Program 5
for j in range(1,10,2):
  print(j)

1
3
5
7
9

**Question 5 - Now write a program which outputs the 1st five even numbers**

In [ ]:
# Insert Code here

**Question 6 - Study the Program below and ensure you understand how it works. You may need to trace it in order to understand it**

In [ ]:
# Program 6
for j in range(1,6):
  Product = j * 10
  print(j, "* 10 = ",Product)

1 * 10 =  10
2 * 10 =  20
3 * 10 =  30
4 * 10 =  40
5 * 10 =  50

**Question 7 - Write a Program which outputs the 13 times table**

In [ ]:
# Write your Program here

**Question 8 - Write a Program which outputs the first 10 square numbers**

In [ ]:
# Write your program here

**Question 9 - Below is a Program which outputs the sum of the numbers 1 to 10 i.e 1+2+3+4+5+6+7+8+9+10**
**Please make sure you understand how it works. To understand how it works, you will most definitely need to trace it**

In [ ]:
# Program 7 - Summing Numbers 1 to 10
sum = 0
for j in range(1,11):
  sum = sum + j

print(sum)

55

**Question 10 - Write a Program which sums the numbers 1 to a Million (1000,000)
i.e 1+2+3+4+5+6+7+8+...+1000,000**

In [ ]:
# Write your Program here

**Question 11 - Below are Programs which calcualte and output the average of groups of numbers**
**Please ensure you understand how these programs are working**
**To understand them, you will need to trace the programs**

In [ ]:
# Program 8 - Calculating Sum and Average of Numbers
sum = 0  # Here we are initializing the variable sum to zero.
for j in range(1,4):
  Number = int(input("Enter a number "))
  sum = sum + Number
Average = sum/3
print(round(Average,2))

Enter a number 4
Enter a number 3
Enter a number 6
4.33

In [ ]:
# Program 9
Total_Score = 0 # We initialize this to zero\
for j in range(3):
  Score = int(input("Enter the Score "))
  Total_Score = Total_Score + Score
Average_Score = Total_Score/3
print("Total_Score ",Total_Score)
print("Average_Score ",Average_Score)

Enter the Score 55
Enter the Score 75
Enter the Score 20
Total_Score  150
Average_Score  50.0

**Question 12 - Write a Program which allows you to choose how many numbers you will input and output the sum and average of those numbers**

In [ ]:
# Insert Code Here

In [ ]:
# Program 10 
# Here is a solution to the Question 12!
Total_score = 0
x =int(input("enter how many numbers do you want to deal with? "))
for j in range(x):
  Score = int(input("enter a score "))
  Total_score = Total_score + Score 
Average_score = Total_score/x
print("Total score", Total_score)
print("Averge score", Average_score)

enter how many numbers do you want to deal with? 2
enter a score 3
enter a score 4
Total score 7
Sverge score 3.5

In [ ]:
# Program 9 - Outputting Even Numbers 
for j in range(1,10):
  if j%2==0:
    print(j, " is even")

2  is even
4  is even
6  is even
8  is even

**Question 13 - Write a Program which will tells you if the numbers between 1 and 10 are odd or even**

In [ ]:
# Insert Code Here

In [ ]:
# Program 10
# Here is a solution to the Question 13
for j in range (1,10):
  if j%2==1:
   print(j, "is odd")
  else:
    print(j, " is even")

**Question 14 - Work  out how the above program is working?**
**You will need to trace the program to work out how it is working**

In [ ]:
# Program 10 - Nested For loop
for j in range(1,5): #OUTER for loop
  print()
  for k in range(6,10): #INNER for loop
    print("j = ", j, " k = ", k)

j =  1  k =  6
j =  1  k =  7
j =  1  k =  8
j =  1  k =  9

j =  2  k =  6
j =  2  k =  7
j =  2  k =  8
j =  2  k =  9

j =  3  k =  6
j =  3  k =  7
j =  3  k =  8
j =  3  k =  9

j =  4  k =  6
j =  4  k =  7
j =  4  k =  8
j =  4  k =  9

**Question 15 - Now write a similar program to this yourself**

In [ ]:
#  Insert Program

**Question 16 - Work out how the program below is working**
**You will need to trace the program in order to work out how it is working**

In [ ]:
# Program 11 - The Factors of a Number
X = int(input("Enter a number"))
for j in range(1,X):
  if X%j ==0:
    print(j)

Enter a number20
1
2
4
5
10

**Question 17 - Run the Program below and just marvel at the output!**

In [ ]:
# Program 12
# Display a Multiplication Table
MIN = 1
MAX = 10

# Display the top row of labels
print("    ", end = "")

for j in range(MIN, MAX+1):
  print( "%4d" %j, end="")
print()

# Display the table

for j in range(MIN, MAX+1):
  print("%4d" %j, end = "")
  for k in range(MIN, MAX+1):
      print("%4d" %(j*k),end="")
  print()

       1   2   3   4   5   6   7   8   9  10
   1   1   2   3   4   5   6   7   8   9  10
   2   2   4   6   8  10  12  14  16  18  20
   3   3   6   9  12  15  18  21  24  27  30
   4   4   8  12  16  20  24  28  32  36  40
   5   5  10  15  20  25  30  35  40  45  50
   6   6  12  18  24  30  36  42  48  54  60
   7   7  14  21  28  35  42  49  56  63  70
   8   8  16  24  32  40  48  56  64  72  80
   9   9  18  27  36  45  54  63  72  81  90
  10  10  20  30  40  50  60  70  80  90 100